
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    grid-gap: 10px; 
}
  
.card-tiles {
    border: 1px solid #ccc; 
    padding: 10px; 
    text-align: center;
}
 

  