
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr); 
    grid-gap: 10px; 
}
  
.card-tiles {
    border: 1px solid #ccc; 
    padding: 10px; 
    text-align: center;
}
 


/* Media Query for smartphones */
@media only screen and (max-width: 600px) {
    .card-tiles{
        display: flex;
        flex-direction: column;
    }
    .card-tiles img{
        font-size: 0.5rem;
        width: 100%;
    }
}
  